* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monoespaço; */
}

:root {
  /* colors */

  --azul-900:  #0E1B29;
  --roxo-700: rgb(109, 59, 160);
  --white-200: whitesmoke;
  --gray-100: rgba(128, 128, 128, 0.089);
}
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
  
  
  background-color:var(--azul-900);
  color: var(--white-200) ;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 
}
 
figure {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
 text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}


.nav-ul {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  padding: 1.2rem;
} 

li{
  text-transform: uppercase;
  margin: 0.8rem;
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  padding: 1rem;
  transition: 0.3s;
  cursor: pointer;
  
}

li:hover{
  border: 1px solid rgba(53, 26, 80, 0.733);
  background-color: var(--white-200);
  color: var(--azul-900);
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: tomato;
}
.capa {
 
  width: 50%;
  height: auto;
}

.titulo {

  font-size: 3rem;
  padding: 20px 60px;
}
.subtitulo {
  width: 100%;
  max-width: 450px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1.5;
  padding: 10px 60px;
  text-align: left;
}

.btn {
  display: inline-block;
  background-color: var(--azul-900);
  border-radius: 4px;
  padding: 20px 30px;
  font-weight: 700;
  color: var(--white-200);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 60px;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--white-200);
  color: var(--azul-900);
}
.ph-broadcast{
  font-size: 25rem;
  color: var(--white-200);
  padding: 30px;
}

.especialistas {
  background-color: var(--azul-900);
  color: var(--white-200);
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem;
}

.servicos {
  color: var(--white-200);
  display: flex;
  margin: 20px;
  background-color: var(--azul-900);
  border-radius: 4px;
}
/* .servicos::before {
  content: "";
  width: 4px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  right: 600px;
} */

.item { 
  width: 30rem;
  padding: 30px;
  
}

h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

p {
  font-size: 1.3rem;
  padding: 30px;
  text-align: center;
}
span {
  padding: 5px;
  background-color: var(--azul-900);
  font-weight: 600;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  font-size: 2rem;
  background-color: var(--azul-900);
}
.call-to-action h2{
  padding: 100px;

}
.call-to-action a{

  font-size: 1rem;
  display: inline-block;
  background-color: tomato;
}

