@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* colors */
  --primary-color:  #ededf2;
  --second-color: #aeadb45c;
  --third-color: #0d0d0d;
  --atention-color: rgb(88, 39, 202);
  --gray-100: rgba(64, 12, 187, 0.123);

/* font-Size */
  --titulo: 3rem;
  --subtitulo: 1.2rem;
  --titulo-sessao:2rem;
  --subtitulo-sessao:1.5rem;
  --paragrafo: 1.2rem;
}
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--third-color);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
 
figure {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  padding: 1.2rem;
} 

li{
  display: flex;
  text-transform: uppercase;
  margin: 0.8rem;
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  padding: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

li:hover{
  border: 1px solid rgba(53, 26, 80, 0.733);
  background-color: var(--third-color);
  color: var(--primary-color);
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.capa {
  width: 100%;
  background-image: url(/assets/build.jpg);
  background-size: cover;
  background-position: center; 
  height: 100vh;
  padding: 250px;
  color: white;
}

.titulo{
  text-shadow: 1px 1px 2px rgb(9, 9, 9);
  width: 100%;
  max-width: 600px;
  font-size: 3.5rem;
}

.subtitulo {
  width: 400px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-align: left;
  padding: 20px 0;
}

.titulo-h2 {
  width: 500px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-align: left;
}

.btn {
  color: var(--primary-color);
  background-color: var(--atention-color);
  display: inline-block;
  border-radius: 4px;
  padding: 20px 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--third-color);
  color: var(--primary-color);
}

.especialistas {
  color: var(--third-color);
  font-size: 2rem;
  text-align: center;
  padding: 2.5rem;
}

.servicos {
  display: flex;
  border: 1px solid var (--atention-color);
}

.item-servicos { 
  width: 20rem;
  padding: 30px;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--atention-color);
  text-align: center;
}

.span-item {
  font-weight: 900;
}

.icone-item {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  padding: 40px;
}

h2 {
  margin: 0;
  font-size: var(--subtitulo-sessao);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  width: 100%;
}

.titulo-call-to-action{
  padding: 5rem 5rem 1rem 5rem;
  font-size: 3rem;
  text-align: center;
}

.call-to-action span {
  font-weight: 900;
}
.btn-call {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  background-color: var(--atention-color);
  padding: 20px 40px;
  border-radius: 4px;
  margin: 10px auto;
  transition: 0.3s ease-in-out;
}

.btn-call:hover {
  background-color: var(--third-color);
  color: var(--primary-color);
}

.information{

  margin: 40px;
  display: flex; 
}

.sobre {
  width: 30rem;
  padding: 20px;
  margin:  0 60px;
}
.sobre p {
  width: 25rem;
  padding: 20px;
}

.contato {
  margin:  0 60px;
  width: 30rem;
  padding: 20px;
}

.contato p {
  margin: 0;
  padding: 5px;  
}

.redes {
  width: 100%;
  margin: 40px auto;

}

.redes a {
  color: var(--third-color);
  text-decoration: none;
  font-size: var(--titulo);
  text-align: center;
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.redes a:hover{
  font-weight: 900;
  font-size: var(--titulo); 
}

.footer {
  border-top: 1px solid var(--gray-100);
  padding: 30px;
  text-align: center;
  width: 100%; 
}


/* Media Queries */

@media (max-width: 768px) {
  body {
    width: 100vw;
  }
  .header {
    justify-content: space-around;
  }
  .nav-ul {
    padding: 0;
  }

  li{
    margin: 0.2rem;
  }
  .capa {
    all: unset;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    text-shadow: 1px 1px 2px black;

    background-image: url(/assets/build.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center;  */
    
  }

  .titulo {
    background-color: #0d0d0d48;
    text-align: center;
    margin: 20px auto;
    padding: 1rem;
    
  }

  .subtitulo {
    
    padding: 10px 5px;
    text-align: center;
  }
  .especialistas {
  padding: 25px;
}
  .call-to-action{
    padding: 10px;
    /* font-size: 1rem; */
  }
  .titulo-call-to-action {
    padding: 5px;
  }
  
  .item-servicos {
    margin: 20px;
  }

  .information{
  flex-wrap: wrap;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .titulo-h2 {
    width: 100%;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .redes {
    text-align: center;
    margin: 40px auto;
  }
 
}